

<div class="jumbotron text-center" >
  <h1 class="display-4">Dynamic Scheduling</h1>
  <h2>Made Easy!</h2>
  <p>This is project management made easy. Allocate resources and tasks to specific project!.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<br>
<div class="row offset-1" style="margin:0 auto;">
  <div class="card col-10 col-md-3 cards text-center " style="width: 18rem;margin:0 auto;">
    <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60" class="card-img-top img-fluid" alt="Responsive image">
    <div class="card-body ">
      <h4 class="card-title">Contact Your Team!</h4>
      <p class="card-text">Immidetialy notify your team members of any changes to your schedule or projects through our application. No need to call or text!</p>
    </div>
  </div>
  <div class="card col-10 col-md-3 cards text-center" style="width: 18rem;margin:0 auto;">
    <img src="https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60" class="card-img-top img-fluid" alt="Responsive image">
    <div class="card-body">
      <h4 class="card-title">Allocate Resources!</h4>
      <p class="card-text">Drag and drop resources and crews to specific days and set custom templates to make setup easy.</p>
    </div>
  </div>
  <div class="card col-10 col-md-3 cards text-center" style="width: 18rem;margin:0 auto;" >
    <img src="https://images.unsplash.com/photo-1511345624864-d6cf46344e8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60" class="card-img-top img-fluid"  alt="Responsive image">
    <div class="card-body">
      <h4 class="card-title">Live Time Scheduling!</h4>
      <p class="card-text">Don't miss a beat, our schedules are live and completely up to date as you and your team update it.</p>
    </div>
  </div>

</div>
<br>
<br>
<br>
<br>
<div class="row offset-1">
  <div class="col-12 col-md-8">
    <h2>WHY SCHEDULE WITH US?</h2>
    <p>Our application creates a user friendly environment for you and your team to easily manage the schedules of projects. Our interface was built to minimize the hassle of modern technology while continuing to be extremly effective.</p>
  </div>
  <div class="col-12 col-md-4 home-image" >
    <img src="https://images.unsplash.com/photo-1465343161283-c1959138ddaa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=60">
  </div>
</div>
<br>
<br>
<div class="container offset-1">
  <div class="row">
    <div class="order-md-last  home-image">
      <img src="https://images.unsplash.com/photo-1514580426463-fd77dc4d0672?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60">
    </div>
    <div class="order-md-first">
      <h2>AFFORDABLE SCHEDULING.</h2>
      <p>Morph scheduling is the best value scheduler on the market. We took a new approach to scheduling and changed the game, come join us!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">See Packages</a>
    </div>
  </div>
    
</div>

<br>
<br>