<br />

<div class="booyah-box col-12">
  <h1 class="text-center">Schedule</h1>
  <hr />

  <div class="booyah-box col-3 float-right">
    <% @schedules.each do |schedule| %>
      <h2 class="text-center"><%= schedules.lot_count %></h2>
    <% end %>
  </div>
</div>