<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @schedule.project.job_name %></h1>
  <h4 class="text-center">Location: <%= @schedule.location %></h4>
  <h4 class="text-center">Lot Count: <%= @schedule.lot_count %></h4>

</div>